<nav class="navbar navbar-dark bg-primary py-3">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto fs-4 fw-bold text-light" href="#">Projeto do Sistema Cliente</a>
  </div>
</nav>
<p>Desenvolver sempre é muito bom para um cresciemnto, sempre é bom diversificar r aprende rnovas maneiras
para o nosos crescimento, aprofundado em um elemento, para a componentização evoluindo como profissional. Aprofundar
da melhro forma para crescer profissiionalmente, smepre é vcalido, a dedicação é muito importnate para o esutdo e a
dedicação.</p>

<img [src]="imagemurl" [alt]="esutdoalt"  class="img-fluid rounded mx-auto d-block"/>

<p>Estduar sempre é fundamental, e conhecer outras areas também é muito importnate para nosos crescimento profissional.
pois o aprendizaod sempre é fundamntal para nosso crescimento e diversificar sempre pois é muito fundamental para um 
amplo aprendizado em cada estudo dedicado</p>
<app-rodape></app-rodape>